/*Шрифты*/
@font-face {
  font-family: 'ProximaNova_reg';
  src: url('../fonts/ProximaNova-Regular.eot');
  src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Regular.woff2') format('woff2'), url('../fonts/ProximaNova-Regular.woff') format('woff'), url('../fonts/ProximaNova-Regular.ttf') format('truetype'), url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
html {
  font-size: 10px;
}
body {
  font-family: 'ProximaNova_reg', sans-serif;
}
.header {
  position: fixed;
  width: 100%;
  background-color: black;
  height: 4rem;
}
.header a {
  text-align: center;
  display: inline-block;
  font-size: 1,5rem;
  font-weight: bold;
  color: white;
  margin: 1rem 2rem;
  background-image: linear-gradient(to right, #aa0000, #ffbb00);
  background-repeat: no-repeat;
  background-size: 10px 2px;
  background-position: left bottom;
  padding-bottom: 2px;
  text-decoration: none;
  transition: 0.3s;
}
.header a:hover {
  background-size: 100% 2px;
  color: #ffee00;
}
-nav {
  text-align: center;
}
.button {
  border-radius: 0.5rem;
  font-size: 1.3rem;
  color: white;
  background-color: black;
  padding: 1rem 2rem;
  background-image: linear-gradient(to right, #aa0000, #ffbb00);
  background-size: 0px 100%;
  background-repeat: no-repeat;
  transition: 0.3s;
}
.button:hover {
  background-size: 100% 100%;
}
.main {
  height: 156rem;
  background: url(../img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.main-header-logo {
  display: flex;
  justify-content: center;
  margin: 2rem auto 4rem auto;
}
.main-header-logo img {
  margin-top: 5rem;
  width: 30rem;
  height: 31rem;
}
.main-header-facts {
  padding: 0.8rem;
  border-radius: 3rem;
  color: white;
  filter: brightness(0.9);
  backdrop-filter: blur(5px);
  text-align: center;
  font-weight: bold;
  margin-bottom: 2rem;
}
.main-header-facts h1 {
  margin-bottom: 2.5rem;
  font-size: 2.7rem;
}
.main-header-facts p {
  font-size: 1.3rem;
}
.main-info {
  background-color: white;
  margin-bottom: 3rem;
}
.main-info-news {
  padding: 5rem 7rem;
  border-right: 2px solid black;
  color: black;
}
.main-info-news h2 {
  font-size: 3rem;
  margin-bottom: 4rem;
  font-weight: bold;
}
.main-info-news strong {
  font-size: 1.5rem;
}
.main-info-news p {
  font-size: 0.8rem;
}
.main-info-news-first {
  margin: 4rem auto;
}
.main-info-news-second {
  margin: 6rem auto;
}
.main-info-photo {
  padding: 5rem 7rem;
  color: black;
}
.main-info-photo h3 {
  font-size: 3rem;
  margin-bottom: 4rem;
  font-weight: bold;
}
.main-info-photo img {
  display: block;
  height: 22rem;
  width: 30rem;
  margin-bottom: 4rem;
}
.main-info-photo form {
  display: inline-block;
}
.main-info-photo button {
  width: 15rem;
}
.main-coninfo {
  background-color: white;
}
.main-coninfo-first {
  padding: 5rem 7rem;
  border-right: 2px solid black;
}
.main-coninfo-first h4 {
  font-size: 3rem;
  margin-bottom: 4rem;
  font-weight: bold;
}
.main-coninfo-first p {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 4rem;
}
.main-coninfo-first button {
  width: 17rem;
  margin-right: 2rem;
}
.main-coninfo-second {
  padding: 5rem 7rem;
}
.main-coninfo-second h5 {
  font-size: 3rem;
  margin-bottom: 4rem;
  font-weight: bold;
}
.main-coninfo-second p {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
.main-coninfo-second input {
  font-size: 1.2rem;
  border: 2px solid black;
  margin: 1.3rem 1.3rem 1rem auto;
  height: 4rem;
  width: 17rem;
}
.main-coninfo-second button {
  margin-top: 2.3rem;
  width: 71%;
}
.footer {
  color: white;
  padding-top: 5rem;
  background-color: #222222;
}
.footer-info {
  margin-bottom: 3rem;
}
.footer-info p {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
.footer-info a {
  color: white;
  background-image: linear-gradient(to right, #aa0000, #ffbb00);
  background-repeat: no-repeat;
  background-size: 10px 2px;
  background-position: left bottom;
  padding-bottom: 2px;
  text-decoration: none;
  transition: 0.3s;
}
.footer-info a:hover {
  background-size: 100% 2px;
  color: #ffee00;
}
.footer-connect p {
  font-weight: bold;
  font-size: 1.5rem;
}
.footer-connect img {
  height: 5rem;
  width: 5rem;
}
.footer-connect form {
  display: inline-block;
}
.footer-connect button {
  background-color: #222222;
  transition: 0.3s;
}
.footer-connect button:hover {
  background-color: gray;
  transform: scale(1.2);
}
.footer-connect-button {
  background-color: #222222;
}
.footer-creator {
  text-align: center;
}
.footer-creator p {
  font-weight: bold;
  font-size: 1.5rem;
}
.footer-creator button {
  width: 13rem;
  font-size: 1.5rem;
}
