{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Регистрация</title>

	<link rel="stylesheet" href="{% static 'main/css/regaut.css' %}">
	<link rel="stylesheet" href="{% static 'main/css/normalize.css' %}">
</head>
<body>

	<div class="popup">
		<div class="popup-content">

			<form method="POST">
				{% csrf_token %}
				<div class="popup-content-form form">	
					<div class="image">
						<img src="{% static 'main/img/header/profile.png' %}" alt="(">
					</div>

					<div class="input">
						<input type="text" id="login" name="login" placeholder="Логин">
					</div>
				</div>

				<div class="popup-content-form form">
					<div class="image">
						<img src="{% static 'main/img/header/zamok.png' %}" alt="(">
					</div>

					<div class="input">
						<input type="password" id="password" name="password" placeholder="Пароль">
					</div>
				</div>

				<div class="popup-content-form form">
					<div class="image">
						<img src="{% static 'main/img/header/zamok.png' %}" alt="(">
					</div>

					<div class="input">
						<input type="password" id="password2" name="password2" placeholder="Подтверждение пароля">
					</div>
				</div>

				<div class="popup-content-btn">
					<button class="btn">ЗАРЕГИСТРИРОВАТЬСЯ</button>
				</div>
			</form>

			<p><strong>Есть аккаунт?</strong> <strong><a href="{% url 'main:regaut' %}">Войти</a></strong></p>













</body>
</html>